/* 1. Preparamos el contenedor */
.contenedor-imagen {
    position: relative; /* Esto es como un ancla para el botón */
    display: inline-block;
}

/* 2. Ajustamos la imagen */
.imagen-fondo {
    display: block;
    max-width: 100%; /* Para que no se salga de la pantalla */
    height: auto;
}

/* 3. El botón "fantasma" que se volverá real */
.boton-magico {
    position: absolute; 
    
    /* --- ESTOS SON LOS QUE TIENES QUE AJUSTAR --- */
    top: 26%;      /* Menos porcentaje = Más arriba */
    left: 26%;     /* Más porcentaje = Más a la derecha */
    width: 490px;  /* Ancho para cubrir el recuadro amarillo */
    height: 60px;  /* Alto para cubrir el recuadro amarillo */
    /* ------------------------------------------- */

    background-color: rgba(245, 241, 7, 0.7); 
    color: white;          
    opacity: 0.5;          /* Lo bajé a 0.5 para que veas tus letras abajo */
    cursor: pointer;
    border: none;
    transition: all 0.4s ease;
}

/* 4. El efecto cuando pasas el mouse (HOVER) */
.boton-magico:hover {
    background-color: rgba(229, 245, 7, 0.7); /* Un color terracota suave */
    color: white; /* El texto aparece */
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    transform: scale(1.05); /* Se agranda un poquito para que parezca que vive */
}